# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = "../WeatherPy/city_output.csv"
df = pd.read_csv(city_data)
city_df = df.drop(columns="Unnamed: 0")
city_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Maitum,75,PH,2020-10-27 02:34:57,74,6.04,124.50,84.20,2.24
1,Boa Esperança,68,BR,2020-10-27 02:34:57,80,-21.09,-45.57,68.43,3.09
2,Cabo San Lucas,20,MX,2020-10-27 02:32:40,69,22.89,-109.91,82.40,11.41
3,Bluff,20,NZ,2020-10-27 02:32:19,64,-46.60,168.33,57.00,8.99
4,Atuona,49,PF,2020-10-27 02:32:19,76,-9.80,-139.03,78.78,22.35
...,...,...,...,...,...,...,...,...,...
559,Panzhihua,27,CN,2020-10-27 02:36:16,58,26.59,101.71,77.77,0.87
560,Sovetskiy,100,RU,2020-10-27 02:36:16,94,61.36,63.58,21.25,12.08
561,Laguna,1,US,2020-10-27 02:33:06,8,38.42,-121.42,69.01,12.75
562,Galveston,1,US,2020-10-27 02:32:07,78,29.37,-94.97,75.99,12.75
563,Sicuani,100,PE,2020-10-27 02:36:17,81,-14.27,-71.23,41.63,2.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

locations = city_df[["Latitude", "Longitude"]]
weights = city_df["Humidity"]

fig = gmaps.figure(map_type="SATELLITE", zoom_level=2, center=[0,0])
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=99, point_radius=10))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# Narrow DF to cities with Max Temp <80 and >70, Wind Speed < 10, Zero Cloudiness

cool = city_df.loc[(city_df["Max Temp"] < 80) & (city_df["Max Temp"] > 70) & (city_df["Wind Speed"] < 5) & (city_df["Cloudiness"] == 0) & (city_df["Humidity"] < 70)]
cool

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
22,Jīran,0,IN,2020-10-27 02:34:59,29,24.32,74.88,74.25,4.81
55,Esperance,0,AU,2020-10-27 02:32:29,47,-33.87,121.90,77.00,4.70
112,Doha,0,QA,2020-10-27 02:32:23,69,25.29,51.53,78.80,3.36
175,Mungeli,0,IN,2020-10-27 02:35:20,56,22.07,81.68,76.87,2.98
221,Sur,0,OM,2020-10-27 02:32:27,52,22.57,59.53,72.68,2.77
279,Salalah,0,OM,2020-10-27 02:33:01,64,17.02,54.09,73.40,2.24
395,Sārangarh,0,IN,2020-10-27 02:35:52,59,21.60,83.08,76.77,2.06

In [5]:
hotel_df = cool
hotel_df["Hotel Name"] = ""
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
22,Jīran,0,IN,2020-10-27 02:34:59,29,24.32,74.88,74.25,4.81,
55,Esperance,0,AU,2020-10-27 02:32:29,47,-33.87,121.90,77.00,4.70,
112,Doha,0,QA,2020-10-27 02:32:23,69,25.29,51.53,78.80,3.36,
175,Mungeli,0,IN,2020-10-27 02:35:20,56,22.07,81.68,76.87,2.98,
221,Sur,0,OM,2020-10-27 02:32:27,52,22.57,59.53,72.68,2.77,
279,Salalah,0,OM,2020-10-27 02:33:01,64,17.02,54.09,73.40,2.24,
395,Sārangarh,0,IN,2020-10-27 02:35:52,59,21.60,83.08,76.77,2.06,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
lat = hotel_df["Latitude"]
lng = hotel_df["Longitude"]
# print(lat, lng)

values = []

# for all numbers within range
for index, row in hotel_df.iterrows():
    coords=f"{row['Latitude']}, {row['Longitude']}"
    place_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {"keyword": "hotel", "location": coords, "key": g_key, "radius": 5000}
    response = requests.get(place_url, params=params)
    data = response.json()
#         pprint(data)
    try:
        name = data["results"][0]["name"]
        print(name)
        hotel_df.loc[index, "Hotel Name"] = name
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Esperance Chalet Village

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Al Najada Doha Hotel by Tivoli
Hotel Puneet
Sur Plaza Hotel
BAITI Hotel Apartments
Gupta Hotel

In [15]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
22,Jīran,0,IN,2020-10-27 02:34:59,29,24.32,74.88,74.25,4.81,
55,Esperance,0,AU,2020-10-27 02:32:29,47,-33.87,121.90,77.00,4.70,Esperance Chalet Village
112,Doha,0,QA,2020-10-27 02:32:23,69,25.29,51.53,78.80,3.36,Al Najada Doha Hotel by Tivoli
175,Mungeli,0,IN,2020-10-27 02:35:20,56,22.07,81.68,76.87,2.98,Hotel Puneet
221,Sur,0,OM,2020-10-27 02:32:27,52,22.57,59.53,72.68,2.77,Sur Plaza Hotel
279,Salalah,0,OM,2020-10-27 02:33:01,64,17.02,54.09,73.40,2.24,BAITI Hotel Apartments
395,Sārangarh,0,IN,2020-10-27 02:35:52,59,21.60,83.08,76.77,2.06,Gupta Hotel

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = hotel_df[["Latitude", "Longitude"]]

In [18]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations2, info_box_content=[row for row in hotel_info])
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))